* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

:root {
    --color-principal: #9b2d20; 
    --color-suave: #f2dede;
}

header {
    background-color: var(--color-principal);
    padding: 20px;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 2.5rem;
}

main {
    text-align: center;
    padding: 20px;
}

main img {
    max-width: 40%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

main h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

main ul {
    list-style-type: none;
}

main ul li {
    font-size: 1.2rem;
    margin: 10px 0;
}

main ul li a {
    color: var(--color-principal);
    text-decoration: none;
    transition: color 0.3s ease;
}

main ul li a:hover {
    color: #333;
}

footer {
    background-color: var(--color-suave);
    padding: 30px 0;
    text-align: center;
}

.footer-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.boton-formulario {
    display: inline-block;
    padding: 15px 30px;
    background-color: var(--color-principal);
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.boton-formulario:hover {
    background-color: #7a1d13;
    transform: scale(1.1);
}

.boton-formulario:active {
    background-color: #63130e;
}
